@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

.tab-head.active {
  color: #336fee;
  border-bottom: 2px solid #336fee;
}
.tab-content {
  display: none;
}
.tab-content.active {
  display: block;
}
.swiper-slide {
  width: auto;
}
.swiper-dash .swiper-slide {
  width: auto;
}
.swiper-dash .swiper-button-prev,
.swiper-dash .swiper-button-next {
  display: none;
}
.swiper.swiper-horizontal {
  margin: 0 50px;
}
.swiper.swiper-backface-hidden {
  margin: 0;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 18px;
  font-weight: 900;
}
.swiper-button-next {
  right: 14%;
}
.swiper-button-lock {
  display: none;
}
.mobile-desktop.show {
  position: absolute;
  width: 95%;
  display: block;
}

.category-list::-webkit-scrollbar {
  width: 10px;
  background-color: #f1f1f1;
  height: 6px;
  border-radius: 10px;
}

.category-list::-webkit-scrollbar-thumb {
  background-color: #336fee;
  border-radius: 10px;
}
