@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

.tab-head.active {
  color: #336fee;
  border-bottom: 2px solid #336fee;
}
.tab-content {
  display: none;
}
.tab-content.active {
  display: block;
}
